/*.footer {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10px;
    background: beige;

}
@media (min-width: 992px) {
    .footer {
        margin-left: 0px;
        margin-right: 0px;
    }
}
*/

.Main {
    min-height: 100vh;
    border-radius: 20px;
    background: rgba(233, 188, 255, 100%);
    margin-left: 20%;
    margin-right: 20%;
    margin-top:10px;
    margin-bottom:10px;
}

@media screen and (max-width: 800px) {
    .Main {
        border-radius: 0px;
        margin-left: 0%;
        margin-right: 0%;
        margin-top:0px;
        margin-bottom:0px;
    }
}
